/database/*.db
/data/*.*
.ipynb_checkpoints/
__pycache__
/r_table/parser/temp/
.DS_Store
/r_table/parser/mesh_id_parser/SKR*
gold_standard/google_scholar/*.log
/gold_standard/google_scholar/*.txt
/util.pynb
*/.ipynb_checkpoints/*.* 
